div {
    width: 370px;
    margin: 50px auto;
    font-size: 1.1em;
  }
  #calculate {
    margin-left: 63px;
    width: 70px;
    
  }
  input, label {
    margin: 5px 0;
    font-size: 1em;
    padding-left: 5px;
  }
  
  